<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nealma.account.dao.RoleResourceLinkDao">

    <!--  ################### insert ################### -->
    <insert id="insert" parameterType="com.nealma.framework.model.RoleResourceLink">
        insert into t_role_resource_link (<include refid="sql_columns"/>)
        values (<include refid="sql_values"/>)
    </insert>

    <!--  ################### update ################### -->
    <update id="update" parameterType="com.nealma.framework.model.RoleResourceLink">
        update t_role_resource_link
        <include refid="sql_set"/>
        where id = #{id}
    </update>

    <!--  ################### fetch ################### -->
    <select id="fetch" parameterType="long" resultMap="roleResourceLinkMap">
        select * from t_role_resource_link where id = #{id}
    </select>

    <!--  ################### fetchByRoleIds ################### -->
    <select id="fetchByRoleIds" resultMap="roleResourceLinkMap">
        select * from t_role_resource_link
        <where>
            <foreach collection="list" item="item" index="index" open=" (" separator="or" close=") ">
                role_id = #{item.roleId}
            </foreach>
        </where>
    </select>

    <!--  ################### list ################### -->
    <select id="list" resultMap="roleResourceLinkMap">
        select * from t_role_resource_link limit 10;
    </select>

    <!--  ################### result map ################### -->
    <resultMap id="roleResourceLinkMap" type="com.nealma.framework.model.RoleResourceLink">
        <result column="resource_id" property="resourceId"/>
        <result column="role_id" property="roleId"/>
        <result column="last_edit_time" property="lastEditTime"/>
        <result column="create_time" property="createTime"/>
        <result column="row_status" property="rowStatus"/>
    </resultMap>

    <!--  ################### dynamic ################### -->
    <sql id="sql_set">
        set
        <include refid="sql_columns_values"/>
    </sql>

    <sql id="sql_columns">
        <trim suffixOverrides=",">
            <if test="resourceId != null">`resource_id`,</if>
            <if test="roleId != null">`role_id`,</if>
            <if test="lastEditTime != null">last_edit_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="rowStatus != null">row_status</if>
        </trim>
    </sql>

    <sql id="sql_columns_values">
        <trim suffixOverrides=",">
            <if test="resourceId != null">resource_id=#{resourceId},</if>
            <if test="roleId != null">role_id=#{roleId},</if>
            <if test="salt != null">salt=#{salt},</if>
            <if test="lastEditTime != null">last_edit_time=#{lastEditTime},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="rowStatus != null">row_status=#{rowStatus}</if>
        </trim>
    </sql>

    <sql id="sql_values">
        <trim suffixOverrides=",">
            <if test="resourceId != null">#{resourceId},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="lastEditTime != null">#{lastEditTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="rowStatus != null">#{rowStatus}</if>
        </trim>
    </sql>
</mapper>