<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nealma.account.dao.UserDao">

    <!--  ################### insert ################### -->
    <insert id="insert" parameterType="com.nealma.framework.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (<include refid="sql_columns"/>)
        values (<include refid="sql_values"/>)
    </insert>

    <!--  ################### update ################### -->
    <update id="update" parameterType="com.nealma.framework.model.User">
        update t_user
        <include refid="sql_set"/>
        where id = #{id}
    </update>

    <!--  ################### fetch ################### -->
    <select id="fetch" parameterType="long" resultMap="userMap">
        select * from t_user where id = #{id}
    </select>

    <!--  ################### fetchByUsername ################### -->
    <select id="fetchByUsername" resultMap="userMap">
        select * from t_user where username = #{username} limit 1;
    </select>

    <!--  ################### list ################### -->
    <select id="list" resultMap="userMap">
        select * from t_user limit 10;
    </select>

    <!--  ################### result map ################### -->
    <resultMap id="userMap" type="com.nealma.framework.model.User">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="last_edit_time" property="lastEditTime"/>
        <result column="create_time" property="createTime"/>
        <result column="row_status" property="rowStatus"/>
    </resultMap>

    <!--  ################### dynamic ################### -->
    <sql id="sql_set">
        set
        <include refid="sql_columns_values"/>
    </sql>

    <sql id="sql_columns">
        <trim suffixOverrides=",">
            <if test="username != null">`username`,</if>
            <if test="password != null">`password`,</if>
            <if test="salt != null">`salt`,</if>
            <if test="lastEditTime != null">last_edit_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="rowStatus != null">row_status</if>
        </trim>
    </sql>

    <sql id="sql_columns_values">
        <trim suffixOverrides=",">
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
            <if test="salt != null">salt=#{salt},</if>
            <if test="lastEditTime != null">last_edit_time=#{lastEditTime},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="rowStatus != null">row_status=#{rowStatus}</if>
        </trim>
    </sql>

    <sql id="sql_values">
        <trim suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="salt != null">#{salt},</if>
            <if test="lastEditTime != null">#{lastEditTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="rowStatus != null">#{rowStatus}</if>
        </trim>
    </sql>
</mapper>